<% if comment.can_see? && !comment.deleted? %>
  <div id="<%= dom_id(comment) %>" class="user_block">
    <div class="block_date"><%= comment.created_at.to_s(:date_with_time) %></div>
    <div class="block_username"><%= user_link(comment.user, :icon => true) %></div>
    <%= avatar_md(comment.avatar_id ? (Image.active.find(comment.avatar_id) rescue comment.user) : comment.user) %>

    <div class="block_body">
      <div class="default_lg">
        <%= kf_simple(comment.comment) -%>
      </div>
      <div class="right">
        <div class="block_action">
          <%= comment_deletion_link(comment) %>
        </div>
      </div>
    </div>
    <div class="grey_line2"></div>
  </div>
<% end %>