<ul>
  <% costs.each do |option| %>
    <li>
      <script>
        function prepare_smscoin_transaction_form_<%= option.id %>() {
          try {
          start_following_form_id = '#start_following_<%= params[:dialog_id_suffix] %>';
          jQuery('#smscoin_form_<%= option.id %> .prepare_progress').toggle();
          if (jQuery(start_following_form_id + ' input.flag').is(':checked')) {

            jQuery('#smscoin_prepare_transaction_form_<%= option.id %> .project_to_follow').val(
                    jQuery(start_following_form_id + ' input.project_id').val());

            jQuery('#smscoin_prepare_transaction_form_<%= option.id %> .follower_email').val(
                    jQuery(start_following_form_id + ' input.follower_email').val());
          }
          jQuery('#smscoin_prepare_transaction_form_<%= option.id %> input').attr('form').onsubmit();
          return true;
          } catch(err) {
            alert("Error description: " + err.description);
            return false;
          } 
        }
      </script>
      <% remote_form_for :transaction, :url => {:controller => 'donate', :action => 'prepare_smscoin_transaction'}, :type => :synchronous,
                         :html => {:id => "smscoin_prepare_transaction_form_#{option.id}" }  do |f| -%>
        <%= f.hidden_field('cost_option_id', :value => option.id, :class => 'cost_option_id') %>
        <% passthrough = @passthrough_params %>
        <% passthrough.each do |key, value| %>
          <%= f.hidden_field(key, :value => value) %>
        <% end %>
        <%= f.hidden_field('follower_email', :class => 'follower_email') %>
        <%= f.hidden_field('project_to_follow', :class => 'project_to_follow') %>
      <% end %>
      <form id="smscoin_form_<%= option.id %>" action="http://service.smscoin.com/bank/?s_country=<%= h(option.country_code)
      %>&s_provider=<%= h(option.provider_code) %>&s_language=<%= I18n.locale == 'en' ? 'english' : 'russian'%>" method="post">
        <div class="fields">
        </div>
        <input type="submit" class="button" value="<%= option.local_gross.to_f %> <%= option.currency %>"
          onclick="return prepare_smscoin_transaction_form_<%= option.id %>();" />
        <span class="prepare_progress" style="display:none; vertical-align: middle;"><img src="/images/ajax-loader.gif" /></span>
      </form>       
    </li>
  <% end %>
</ul>

