<% follower = list_item %>
<% invite = follower.respond_to?(:invite) && follower.invite ? follower.invite : follower.invites.invites_to(@user).founders.first %>

<div class="invite" <%= (follower.id == current_actor.id || params[:highlight_user].to_i == follower.id) ? 'bgcolor="#FDF1C6"' : '' -%>>
  <% unless follower.is_view_permitted? %>
    <%= avatar_md(nil) %>
    <div class="block_body"><%= 'Confidential'.t %></div>
  <% else %>
    <div class="block_username"><%= user_link(follower, :icon => true) %></div>
    <%= avatar_md(follower) %>
    <div class="block_body">
      <div class="default_lg"><b><%=h follower.display_name %></b></div>
      <div class="default">
        <% if invite %>
          <% if @user.project? && @user.project_founders_include?(follower) %>
            <%= "#{h(invite.role_name)}<br/>" unless invite.role_name.blank? %>
            <% if current_actor.is_self_or_owner?(@user) %>
              <div class="i_edit">
                <%= link_to 'Change'.t, :controller => '/user', :action => 'edit_founder', :id => @user, :founder_id => follower, :restrict => Invite::TYPES[:founder_circle][:id] %>
              </div>
            <% end %>
            <% unless @user.front_page_founders.include?(follower) %>
              <em><%= 'NOT displayed on Kroogi Page'.t %></em><br/>
            <% end %>
          <% end %>
        <% end %>

        <%= remove_link_for(@user, follower, @kroog, follower.id == current_actor.id) %>
      </div>
    </div>
  <% end %>
</div>