<% @title = 'Admin Console'.t + ' :: ' + 'Monitoring'.t %>

<div class="admin">
  <h3><%= link_to("Kroogi.com", :controller => "admin/monitor", :action => "index", :query => 'kroogi') %> &nbsp;<%= link_to("Kroogi Downloads", :controller => "admin/monitor", :action => "index", :query => 'facebook') %></h3>
  <h4>Total users : <%= link_to(@users_total, :controller => 'admin/users') %>&nbsp;|&nbsp;Total Projects : <%= link_to(@projects_total, :controller => 'admin/users') %>&nbsp;|&nbsp;Total Music Albums : <%= @music_albums_total %></h4>

  <div style="font-size:10px">
    <%= link_to '[Export to CSV]', :controller => 'admin/monitor', :action =>'index.csv' %>
  </div>

  <table class="admin">
    <tr>
      <th rowspan="3"><%= 'Date'.t %></th>
      <th colspan="2" style="text-align:center"><%= 'Users'.t %></th>
      <th rowspan="3"><%= 'Projects'.t %></th>
      <th rowspan="3">MA</th>

      <th colspan="4" style="text-align:center"><%= 'Downloads'.t %></th>
      <th colspan="10" style="text-align:center"><%= 'Contributions'.t %></th>

      <th rowspan="3" class="disabled"><%= 'Com.'.t %></th>
    </tr>
    <tr>
      <th rowspan="2">New</th>
      <th rowspan="2">Log</th>

      <th rowspan="2">Tot.</th>
      <th rowspan="2">MA</th>
      <th rowspan="2">Trx</th>
      <th rowspan="2">Fd.</th>

      <th colspan="4" style="text-align:center">Total</th>
      <th rowspan="2">MA</th>
      <th rowspan="2">Trx</th>
      <th rowspan="2">Fd.</th>
      <th rowspan="2">Img</th>
      <th rowspan="2">Txt</th>
      <th rowspan="2">Vid</th>
    </tr>
    <tr>
      <th>Num</th>
      <th>USD</th>
      <th>Avg</th>
      <th>Fee</th>
    </tr>
    
    <% @monitoring_stats.each do |day, data| %>
      <tr class="<%=cycle("light", "dark")%>">

        <td style="white-space:nowrap;"><%= day.localize("%d %B %Y") %></td>
        <td><%= data.users %></td>
        <td><%= data.logged_in_users.count %></td>
        
        <td><%= data.projects %></td>
        <td><%= data.contents %></td>

        <td><%= data.downloads.count %></td>
        <td><%= data.downloads.select{|c| c.ctype == 'MusicAlbum'}.count %></td>
        <td><%= data.downloads.select{|c| c.ctype == 'Tracks'}.count %></td>
        <td><%= data.downloads.select{|c| c.ctype == 'FolderWithDownloadables'}.count %></td>
        <% money_url_options = {:controller => 'admin/money', :action=> 'query',
                                :query => {:end_date => CalendarDateSelect.format_date(data.start_date.to_date),
                                           :start_date => CalendarDateSelect.format_date(data.start_date.to_date)}} %>
        <td><%= data.contributions[0] ? link_to("#{data.contributions.count}", money_url_options) : "$0.0"%></td>
        <td><%= data.contributions[0] ? link_to("$#{data.contributions_total[0].gross_amount_usd}", money_url_options ) : "$0.0"%></td>
        <td><%= data.contributions[0] ? link_to("$#{data.contributions_total[0].avg_gross_amount_usd}", money_url_options ) : "$0.0"%></td>
        <td><%= data.contributions[0] ? "$#{data.contributions_total[0].handling_fee_usd}" : "$0.0" %></td>
        
        <td><%= data.contributions.select{|c| c.ctype == 'MusicAlbum'}.count %></td>
        <td><%= data.contributions.select{|c| c.ctype == 'Tracks'}.count %></td>
        <td><%= data.contributions.select{|c| c.ctype == 'FolderWithDownloadables'}.count %></td>
        <td><%= data.contributions.select{|c| c.ctype == 'Image'}.count %></td>
        <td><%= data.contributions.select{|c| c.ctype == 'Textentry'}.count %></td>
        <td><%= data.contributions.select{|c| c.ctype == 'Video'}.count %></td>
        
        <td><%= data.comments %></td>
      </tr>
    <% end %>
  </table>
  <div style="font-size:10px">
    <%= link_to '[Export to CSV]', :controller => 'admin/monitor', :action =>'index.csv' %>
  </div>
</div>

