<% @content_kind_displayname = is_edit? ? 'Edit Submitted by Others Folder'.t : 'Submitted by Others'.t %>
<% @title = @user.login + ' :: ' + @content_kind_displayname %>

<% main_block(:header_title => @content_kind_displayname, :content_head => 'Create New Folder'.t) do %>
  <% form_for 'content', @content, :url => { :controller => 'submit', :action => (is_edit? ? 'update' : 'add_inbox') }, :html => {:multipart => true} do |f| -%>
    <%= f.hidden_field("id") if is_edit? %>
    <%= f.hidden_field 'user_id' %>
    <%= error_messages_for :content %>&nbsp;

    <%= render :partial => "title", :locals => { :f => f } %>
    <%= render :partial => "shared/translatable_fields", :locals => {
                                    :f => f, 
                                    :content => @content, 
                                    :fields => [["Short Description", 'tagline', {:string => true}]] } %>

    <%= render :partial => "description", :locals => { :f => f, :content => @content } %>
    <%= render :partial => "tags", :locals => { :f => f } %>
    <div class="form_line">
      <div class="form_left"><%= 'Cover Art'.t %></div>
      <div class="form_right">
        <% if @content.cover_art %>
          <%= image_tag(@content.cover_art.thumb(:small).public_filename, :border => 0, :alt => h(@content.cover_art.thumb(:thumb).filename))%>
        <% end %>
        <%= file_field :cover_art, :uploaded_data %>
        <div><%= 'Square images work best, at least 150x150, and they will be resized'.t %></div>
      </div>
    </div>
    <div class="form_line">
      <div class="form_left"><%= 'Voting Options'.t %></div>
      <div class="form_right">
        <%= f.select 'voting_restriction', Inbox.voting_menu(@content.user), :selected => @content.voting_restriction %>
        <div><%= "Note: if security settings are more restrictive, they'll override this selector".t -%></div>
      </div>
    </div>
    <div id="permissions">
      <%= render :partial => "permissions", :locals => { :f => f, :content => @content } %>
    </div>
    <% unless @content.user.collection? %>
      <div class="form_head"><%= 'Allow Submission of'.t %></div>
      <div class="form_center">
        <label><%= f.check_box("images", {:style=>'width:auto;', :checked => @content.images?}) %> <%= "Images".t %></label>
        <label><%= f.check_box("tracks", {:style=>'width:auto;', :checked => @content.tracks?}) %> <%= "Tracks".t %></label>
        <label><%= f.check_box("videos", {:style=>'width:auto;', :checked => @content.videos?}) %> <%= "Videos".t %></label>
        <label><%= f.check_box("writings", {:style=>'width:auto;', :checked => @content.writings?}) %> <%= "Writings".t %></label>
      </div>
      <div class="form_head">
        <%= 'Adoptable Content Policy'.t %>
        <span style="font-weight:normal">(<%= "Must owner allow taking?".t -%>)</span>
      </div>
      <div class="form_center">
        <label>
          <%= f.radio_button :require_allowing_content_adoption, false, :class => 'auto_width' %>
          <%= "Allow submission of items I cannot accept as my own, as well as those I can".t %>
        </label>
        <label>
          <%= f.radio_button :require_allowing_content_adoption, true, :class => 'auto_width' %>
          <%= "Only allow submission of items I can accept as my own".t %>
        </label>
      </div>
    <% end %>
    <div class="form_head">&nbsp;</div>
    <div class="form_buttons">
      <%= render :partial => "buttons", :locals => { :is_editing => true, 
                                                    :center => true, 
                                                    :upload => true, 
                                                    :ok_label => 'Save'.t} unless is_edit? && @content.featured_album? %>
    </div>
    <div class="clear"></div>
  <% end %>
<% end %>