<% @content_kind_displayname ||= is_edit? ? (@content.featured_album? ? 'Reorder Featured Content Items'.t : 'Edit Folder'.t) : 'New Folder'.t %>
<% @title = @user.login + ' :: ' + @content_kind_displayname %>

<% main_block(:header_title => 'Add Content'.t, :content_head => 'Music Album') do %>
  <% form_for 'content[]', @content, :url => { :controller => 'submit', :action => (is_edit? ? 'update' : 'add_music_album') }, :html => { :multipart => true, :onsubmit => 'return nice_submit(this);', :id => 'album_form' } do |f| -%>
    <%= f.hidden_field("id") if is_edit? %>
    <%= f.hidden_field 'user_id' %>
    <%= f.hidden_field("is_in_gallery") %>
    <% unless is_edit? && @content.featured_album? %>
        <%= error_messages_for :content %>
      <% unless is_edit? %>
        <%= render :partial => "music_album_explanation_#{I18n.locale}"%>
      <% end %>
        <%= render :partial => "shared/translatable_fields", :locals => {
          :f => f,
          :content => @content,
          :fields => [["Title", :title], ["Description", :description], ["Artist", :artist]] } %>
      <div class="form_line">
        <div class="form_left">
          <%= 'Year'.t %>
        </div>
        <div class="form_right">
          <%= f.text_field(:year, :size => 4, :maxsize => 4, :style => 'width: 100px;') %>
        </div>
      </div>
      <div class="form_line">
        <div class="form_left">
          <%= 'Style'.t %>
        </div>
        <div class="form_right">
          <%= f.text_field(:genre, :size => 56, :maxsize => 200) %>
        </div>
      </div>
      <div class="form_line">
        <div class="form_left">
          <%= 'Upload Cover Art'.t %>
        </div>
        <div class="form_right">
          <% if @content.respond_to?(:cover_art) && @content.cover_art %>
            <%= image_tag(@content.cover_art.thumb(:small).public_filename, 
                        :style => 'padding:5px;border:1px solid #cccccc;', 
                        :alt => h(@content.cover_art.thumb(:thumb).filename))%>
          <% elsif @content.respond_to?(:pending_cover_art) && @content.pending_cover_art %>
            <%= image_tag(@content.pending_cover_art.thumb(:small).public_filename, 
                        :style => 'padding:5px;border:1px solid #cccccc;', 
                        :alt => h(@content.pending_cover_art.thumb(:thumb).filename))%>
          <% end %>
        </div>
      </div>
        <div class="form_center">
          <%= file_field :cover_art, :uploaded_data %>
          <div class="default"><%= 'Square images work best, at least 150x150, and they will be resized'.t %></div>
        </div>

      <%= render :partial => "tags", :locals => { :f => f } %>
    <% end %>
    <% if is_edit? %>
      <div class="form_line">
        <% if @content.album_contents.empty? %>
            <div class="section_empty">
            <%= 'This folder is empty'.t %>
            <br/>
            <%= 'Go to %s to move existing items, or view %s to add new ones.' / [(link_to 'Content'.t, :controller => 'user', :action => 'gallery', :id => current_actor), (link_to 'this folder'.t, content_url(@content))] %>
          </div>
        <% else %>
          <div class="form_head"><%= 'Reorder tracks'.t %></div>
          <div id="queue">
            <div class="form_center"> <span class="title"><%=  @content.featured_album? ? 'Drag item to change position'.t : 'Drag item to change position in the folder'.t %></span></div>
            <div class="form_center">
              <span id="album_list_holder_id">
                <ul id="album_list_id">
                  <% @content.album_contents_items.each do |album_item| %>
                    <li class="dragme alb_row" id="item_<%= album_item.id.to_s %>" style="cursor:move">
                      <div class="title iconized <%= icon_class(album_item.content) %>">
                        <%= truncate_with_hint(album_item.content.title_long, :length => 65) %>
                      </div>
                      <div class="delete">
                        <%= link_to_remote(image_tag("/images/delete.gif",
                            {:class => 'delete_btn', :alt => "Delete".t, :size => '12x12', :border => 0}),
                          :url => {:controller => 'content', :action => 'remove_from_album', :id => album_item.content_id, :album_id => @content.id},
                          :before => 'this.up("li.alb_row").fade();',
                          :confirm => 'This will remove the track forever. Are you sure?'.t) %>
                      </div>
                    </li>
                  <% end %>
                </ul>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
    <% unless is_edit? && @content.featured_album? %>
      <%= render :partial => "display_settings", :locals => {:f => f, :content => @content} %>
    <% end %>
    <div class="form_head">&nbsp;</div>
    <div class="form_buttons">
      <%= render :partial => "buttons", :locals => { :is_editing => true, 
                                                    :center => true, 
                                                    :upload => true, 
                                                    :ok_label => 'Save'.t} unless is_edit? && @content.featured_album? %>
    </div>
    <div class="clear"></div>
  <% end %>
<% end %>

<% content_for :bottom_javascript do %>
  <script type="text/javascript" charset="utf-8">
    function nice_submit(form){
      form.select('.button').each(function(button){
        button.innerHTML = "<span><%= 'Please Wait...'.t %></span>";
        button.className = 'button_gr';
      });
      $$('.wait_up_homie').each(function(e){e.show();});
      return true;
    }

    if ($('album_list_id')) {
      Sortable.create("album_list_id", {
        constraint:'vertical',
        handle: 'dragme',
        tag: 'li',
        onUpdate: function(){
          new Ajax.Request('/content/album_order',
          {asynchronous:true, evalScripts:true, onComplete:function(request){new Effect.Highlight("album_list_id",{});},
            parameters:Sortable.serialize("album_list_id")})}
      });
    }
  </script>
<% end %>