<% @content_kind_displayname = 'Post Writing'.t %>
<% @title = @user.login + ' :: ' + @content_kind_displayname %>

<% main_block(:header_title => 'Add Content'.t, :content_head => 'Writing'.t ) do %>
  <% form_for 'content[]', @content, :url => { :controller => 'submit', :action => (@content.new_record? ? 'add_writing' : 'update'), :for_inbox => params[:for_inbox] }, :html => { :onsubmit => "return pause_save();", :name => "uploadForm" } do |f| -%>
  <%= f.hidden_field("id") if is_edit? %>
  <%= hidden_field_tag 'user_id', @user.id %>
  <%= f.hidden_field("is_in_gallery") %>
    <%= error_messages_for :content %>
    <%= render :partial => "shared/translatable_fields", :locals => { 
                        :f => f, 
                        :content => @content, 
                        :fields => [["Title", :title], ["Body", :post]] } %>
    <div class="right"><%= formatting_help %></div>
    <%= render :partial => "tags", :locals => { :f => f } %>
    <%= render :partial => "copyrights", :locals => { :f => f } %>
    <%= render :partial => "donation_options", :locals => {:f => f, :content => @content} %>
    <%= render :partial => "display_settings", :locals => {:f => f, :content => @content} %>
    <div class="form_head">&nbsp;</div>
    <div class="form_buttons">
      <%= render :partial => "buttons_wrapper" , :locals => { :backgoesb => defined?(backgoesb) && backgoesb, :editing => defined?(editing) && editing} %>
    </div>
    <div class="clear"></div>
  <% end %>
<% end %>

<% content_for :js do %>
  <script type="text/javascript" language="javascript">
    function pause_save() {
      if (content_owner.value == '') {
        alert('<%= js "Copyright owner field cannot be empty. Please enter either your Kroogi name, or the name of the copyright holder".t -%>');
        return false;
      } else {
        // TODO content type validation   
        //if (document.uploadForm.content_uploaded_data.value != ""){
        var btns = $(document.uploadForm).getElementsByClassName("button");
        btns.each(function(btn){
          btn.innerHTML = "<span><%= 'Please Wait...'.t %></span>";
          btn.className = 'button_gr';
          btn.disabled = true;
        });
        //}
      }
    }
  </script>
<% end %>