
<% lc = I18n.language_code %>
<% @title = 'Password reset'.t %>
<div id="logo_and_sig">
	<%= link_to image_tag('krooglo.gif', :id => "logo"), explore_path %><br/>
</div>

<div class="login_window">
  <div class="login_box" style="padding-bottom: 0px;">
    <% form_tag({:controller=> 'home', :action => 'change_language'}) do -%>
      <%= hidden_field_tag 'curr_url', "/home/forgot_password" %>
      <select name="locale" style="width:100px;font-size: 11px;" onchange="this.form.submit();">
        <%= options_for_select(APP_CONFIG.language_menu, I18n.language_code) %>
      </select>
    <% end -%>
  </div>
  <div class="login_window_form login_box">
    <h2><%= 'Forgot your password?'.t %></h2>
    <br/>
    
    <% @user ||= User.new %>

    <% form_for :user, :url => {:action => :reset_password } do |form| %>

    <% if flash[:error] %>
      <%= error_messages_for 'user' %>
    <% end %>

      <p style="float:left;margin-left:10px;">
        <label for="email" class="login_window_form_el"><%= "Email".t %></label>
        <%= form.text_field('email', :size => 30, :maxsize => 120, :style => "width:130px;", :class => "feedback_input")  -%>
      </p>

      <br class="clear" />
      <br/>
      
      <div class="button_wrapper">
        <button class="button" type="submit" name="commit"><span><%= 'Reset'.t %></span></button>
      </div>

      <% end -%>

    </div>
    
    <div class="login_box invite_required_info">
      <h2 style="text-align: center; padding: 0px; font-weight: normal;"><%= link_to 'Let me try to log in again'.t, login_url %></h2>
    </div>
    
</div>
