<% sent_to = invite.is_a?(Invite) ? invite.user : invite.wants_to_join %>
<% if sent_to.nil? && invite.respond_to?(:user_email) 
    sent_to_email = [invite.display_name.blank? ? nil : h(invite.display_name), invite.user_email.blank? ? nil : h(invite.user_email)].compact.join(', ') 
  end
%>
<div class="<%= invite.is_a?(Invite) ? 'invite' : 'request' -%>">
  <div class="message_center user_block">
    <div class="block_date">
      <%= invite.updated_at.localize("%d %B %Y %l:%M %p") %>        
    </div>
    <div class="block_username"> 
      <%= user_link(sent_to, :icon => true) || sent_to_email %>    
    </div>    
    <%= avatar_md(sent_to) %>
    <div class="block_body">
      <%= invite.is_a?(InviteRequest) ? 'Request for Invitation'.t : 'Invitation'.t %>
      <%= 'To join'.tdown %> 
      <%= link_to invite.circle_name, :controller => 'kroogi', :action => :show, :id => invite.is_a?(Invite) ? invite.from_user : invite.wants_to_join, :type => invite.circle_id %>
      <div>
        <% if invite.is_a?(Invite) && !invite.invitation.blank? %>
          <b><%= kf_simple(invite.invitation) %></b>
        <% elsif invite.is_a?(InviteRequest) %>
          <% if invite.pending? %>
            <%= 'This request is still pending'.t -%>.
          <% elsif invite.accepted? %>
            <%= 'This request has been accepted!'.t %>
          <% elsif invite.rejected? %>
            <%= 'This request has been rejected'.t -%>.
          <% end %>
        <% end %>
      </div>
      <% if invite.is_a?(Invite) %>
        <b><%= 'Status:'.t %></b>
        <%= invite.state.capitalize.t %>
        <% if invite.pending? && !invite.site_invite? %>
          <div class="iconized i_edit">
            <%= link_to 'Edit Invitation'.t + '...', :controller => 'invite', :action => :show, :id => invite.id %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
