<%# ---------------------------------------------------------------------------
# File:       canvas.rhtml
# Summary:    Layout template for Facebook canvas pages.
# ------------------------------------------------------------------------ %>

<!-- Need to pull in stylesheets explicitly  -->
<fb:user-agent includes="ie">
  <style type="text/css" media="screen">
    <%= render(:file => "#{RAILS_ROOT}/public/stylesheets/facebook/facebook-ie.css") %>
  </style>
</fb:user-agent>
<fb:user-agent excludes="ie">
  <style type="text/css" media="screen">
    <%= render(:file => "#{RAILS_ROOT}/public/stylesheets/facebook/facebook.css") %>
  </style>
</fb:user-agent>

<%= fb_google_analytics_tag(:uacct=>"UA-4171818-4") %>
<%= javascript_include_tag "facebooker", "prototype" %>

<div class="mainContent">
  <div class="headerTitle" style="background-image:url(<%=image_path('/images/bg_title.png')%>)">
    <div class="kroogiLogo"><%= link_to(image_tag('kroogi_downloads.jpg'), {:controller => 'facebook/home'}) %> </div>
    <div class="headerLinks"><%= link_to 'kroogi.com', 'http://www.kroogi.com', :target=> '_blank', :style=>'margin-right:10px;' %> <%= link_to 'Help', {:controller => 'facebook/home', :action=> 'help'} %> </div>
    <div class="search">
      <% form_tag({:controller => 'search', :action => 'index'}, {:class=>'search', :method => :get}) do %>
        <div class="searchBox"><%= text_field_tag :term , '', :id => 'searchTerm'%></div>
        <div class="searchButton"><%= image_submit_tag 'search.gif', :onclick=>"return confirm('searchTerm');" %> </div>
      <%end%>
    </div>
  </div>
  <div class="kroogiMenu"> </div>
  <div class="kroogiMenu">
    <ul>
      <li class="artEntrance"><%= link_to 'Artist’s Entrance', {:controller => 'facebook/artist_entrance'} %></li>
      <li><%= link_to 'Home', {:controller => 'facebook/home'} %></li>
      <li><%= link_to 'Find Music', {:controller => 'facebook/search', :action => 'artists'} %></li>
      <% fb_if_user_has_added_app(current_fb_user) do %>
        <li><%= link_to 'My Albums', {:controller => 'facebook/user'} %></li>
        <li><%= link_to 'Sent by Friends', {:controller => 'facebook/user', :action=>'received'} %></li>
      <% end%>
    </ul>
  </div>
  <div class="greyLine"></div>
  <!-- Pull in Stylesheet and Javascript info from content_for in controllers/views -->
  <%= yield :stylesheet %>
  <%= yield :javascript %>
  <div class="content">
    <%= yield %>
  </div>
</div>