<span class="h3"><%= 'Want to keep using your LiveJournal and show your community entries here?'.t -%></span>
<div class="default">
  <%= 'In order to integrate your LJ blog, you will need to provide your moderator LJ credentials here and the community which you would like to import'.t -%>. 
  <%= 'This allows us to communicate with LiveJournal directly to retrieve the required information'.t -%>. 
  <%= 'All credentials are securely encrypted on our servers'.t -%>. 
  <%= 'You can use the settings page later to update your information if it changes'.t -%>.
</div>

